
<div class="con">
        <div class="myC">
            <div class="ro">
                
                    <div class="myLC">
                  
                    <%= form_with(model: fr) do |form|%>
  <% if fr.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fr.errors.count, "error") %> prohibited this fr from being saved:</h2>

      <ul>
        <% fr.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br/>
<br/>
  <div>
    <%form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name,class:"myInput form-group",placeholder: "first_name"%>
  </div>

  <div>
    <%form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name,class:"myInput form-group",placeholder: "last_name" %>
  </div>

  <div>
    <%form.label :email, style: "display: block" %>
    <%= form.text_field :email,class:"myInput form-group",placeholder: "email" %>
  </div>

  <div>
    <%form.label :phone, style: "display: block" %>
    <%= form.text_field :phone,class:"myInput form-group",placeholder: "phone" %>
  </div>

  <div>
    <%form.label :insta_id, style: "display: block" %>
    <%= form.text_field :insta_id,class:"myInput form-group",placeholder: "insta_id"%>
  </div>
   <div>
     <%= form.number_field :user_id, id: :friend_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit class: "butt" %>
  </div>
  <br/>
  
<% end %>
</div>
                </div>
               
            
        </div>
    </div>

                 
               