<div id="<%= dom_id fr %>">
  <p>
    <strong>First name:</strong>
    <%= fr.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= fr.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= fr.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= fr.phone %>
  </p>

  <p>
    <strong>Insta:</strong>
    <%= fr.insta_id %>
  </p>

</div>
